/*information général*/

body
{
	font-family: 'trebuchet MS', Arial, sans-serif;
	font-size: 1.1em;
	color: #404040;
}
#bloc_page
{
	width: 1000px;
	margin: auto;
}
h1, h2, h3, h4
{
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
}
/*header*/

header
{
	margin: 50px 0 50px 0;
}
.en_tete_petit_ecran
{
	display: none;
}
.titre_principal
{
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	display: flex;

}
.prenom
{
	color: #FECA07;
}
.nom
{
	font-weight: lighter;
}
.sous_ligne
{
	border-bottom:#FECA07 1.5px solid;
	width: 50px;
}
/*section*/

section
{
	display: flex;
}

/*bloc_1_gauche*/

#bloc_1
{
	background-color: #FECA07;
	width: 350px;
}
#bloc_1 p 
{
	padding: 25px;
}
.photo
{
	display: block;
	margin: 50px auto 30px;
	border-radius: 50%;
	width: 160px;
	height: 160px;
	border: 3px solid #daaf12;

}
.titre_bloc_1
{
	background-color: #404040;
	padding: 6px; 
	color: #FECA07;
	font-weight: lighter;
	text-align: center;
}
#loisirs
{
	margin-top: 350px;
}
#icones_loisirs
{
	display: flex;
	justify-content: space-around;
}
.icone_loisirs
{
	font-size: 50px;
}
/*bloc_2_droite*/

#bloc_2
{
	padding: 25px;
}
.titre_bloc_2
{
	display: flex;
	color: black;
	border-bottom: 1px solid #FECA07 ;
    flex-direction: row;
    align-items: baseline;
}
.icone
{
	color: #FECA07;
	margin-right: 20px;
}
.rond
{
	color: #FECA07; 
	font-size: 0.5em;
}
span
{
	font-size: 0.7em;
}
.bloc_2_texte
{
	width: 250px;
	padding-left: 20px;
}
.bloc_texte
{	
	display: flex;
	flex-wrap: wrap;
}

/*responsive*/

@media only screen and (max-width: 1024px)
{
	#bloc_page
	{
		width: auto;
		margin: auto;
	}
	.en_tete_petit_ecran
	{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		justify-content: space-around;
		margin: 0px;
	}
	.titre_principal
	{
		margin-top: 100px;
	}
	.en_tete_grand_ecran
	{
		display: none;
	}
	#jo_photo_grand_ecran
	{
		display: none;
	}
	section
	{
		flex-direction: column-reverse;
	}
	#loisirs
	{
		margin-top: 0px;
	}
	#bloc_1
	{
		width: auto;
	}
	#bloc_2
	{
		max-width: 800px;
	}
}