body
{
	font-family: 'trebuchet MS', Arial, sans-serif;
	font-size: 1.3em;
	color: #404040;
}
#bloc_page
{
	width: 1000px;
	margin: auto;
}
h1, h2, h3, h4
{
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
}
section p
{
	justify-content: justify;
}
/*header*/
#titre_principal
{
	font-family: 'Roboto', sans-serif;
	font-size: 2.3em;
	display: flex;
}
#prenom
{
	color: #FECA07;
	font-weight: bold;
}
#nom
{
	font-weight: lighter;
}
header h1
{
	font-weight: lighter;
}
/*section*/
section
{
	display: flex;
}
#bloc_1
{
	background-color: #FECA07;
	width: 400px;
}
#bloc_1 p 
{
	padding: 25px;
}
.photo
{
	display: block;
	margin: auto;
	padding-top: 25px;
	border-radius: 100%;
	max-width: 50%;
	height: auto;

}
.titre_bloc_1
{
	background-color: #404040; 
	color: #FECA07;
	font-weight: lighter;
	text-align: center;
}
#bloc_2
{
	padding: 25px;
}
.titre_bloc_2
{
	color: black;
	border-bottom: 1.5px solid #FECA07 ;
	padding-bottom: 8px;
}
